.TBL {
    width: 150px;
    margin-bottom: 30px;
    border-radius: 15px;
}

body {
    margin: 0px;
    padding-top: 800px;
    text-align: center;
    overflow-x: hidden;
}

#welcome {
    position: absolute;
    overflow: hidden;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 1;
    background: linear-gradient(#6cd3f5 0%, #abfff7 100%);
    display: table;
    width: 100%;
    height: 100%;
}

.welcomeDiv {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

#about {
    padding: 50px;
    text-align: center;
    font-size: 15px;
}

.line {
    height: 6px;
    background-color: black;
    width: 100px;
    margin: 10px auto;
}

p {
    max-width: 500px;
    margin: 30px auto;
    font-size: 15px;
    line-height: 1;
}

h1 {
    font-size: 30px;
    line-height: 1.2;
    font-family: cursive;
    font-weight: 300;
}

h2 {
    font-size: 15px;
    font-weight: 100;
    line-height: 1;
    font-family: monospace;
}

#name {
    font-size: 30px;
    line-height: 1;
    font-family: 'Chela One', cursive;

}
.menu{
    list-style: none;
    font-family: fantasy;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}
.link{
    float: left;
    color: aliceblue;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: fantasy;
    font-size: 20px;
    transition: 0.5s ease;
}
.link:hover{
    background-color: aqua;
}
.blog{
    text-decoration: none;
    color: darkorange;
    font-family: cursive;
    font-size: 20px;
    transition: 0.5s ease;
}
.blog:hover{
    color: white;
    background-color: black;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
#about{
    background: linear-gradient(#ffabff 0%, #d640ff 100%)
}
.aboutHobby{
    max-width: 500px;
    font-size: 20px;
}
#insp_img{
    border: 5px solid;
    border-color: grey;
}
#contacts{
    background-color: beige;
    bottom: 0px;
}